# Deploy model

* PyCaret offers a couple of options to run a model:
    * as a dashboard using gradio.
    * as an API using FastAPI.
    * as a container using Docker.

In [1]:
from pycaret.classification import *
import pandas as pd

In [2]:
# Setup
df = pd.read_csv("../../datasets/breast_cancer/wdbc.data", sep=',', header=None)
columns = ['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean', 'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean', 'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se', 'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se', 'fractal_dimension_se', 'radius_worst', 'texture_worst','perimeter_worst', 'area_worst', 'smoothness_worst','compactness_worst', 'concavity_worst', 'concave points_worst', 'symmetry_worst', 'fractal_dimension_worst']
df.columns = columns
exp = ClassificationExperiment()
exp.setup(data=df, target="diagnosis", session_id=1) # we'll use the default configuration

In [3]:
# Train model
model = exp.create_model("et")

## Deploy as a dashboard

* According to documentation they are planning to add streamlit as another for option for the dashboard.

In [4]:
exp.create_app(model, app_kwargs=None)

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.

## Deploy as API

* PyCaret can be used for generating an endpoint using FastAPI.

In [4]:
exp.create_api(model, "ml_api",port=8080)

API successfully created. This function only creates a POST API, it doesn't run it automatically. To run your API, please run this command --> !python ml_api.py

## Deploy as container

* Create a docker file to use the API created with `create_api`.
* It also creates the requirements file.
* The created docker file will deploy the API.

In [5]:
exp.create_docker("ml_api")

Writing requirements.txt
Writing Dockerfile
Dockerfile and requirements.txt successfully created.
    To build image you have to run --> !docker image build -f "Dockerfile" -t IMAGE_NAME:IMAGE_TAG .